<div class="margin-from-navbar"></div>
<div class="container">
  <div class="current-activity">
  <p>Pas d'activité démarrée pour le moment</p>
  <%# espace d'affichage de l'activité en cours s'il y en a une  %>
  </div>
  <div class="block-logo" data-controller="location-map" <%# Display the map with current location  %>
      data-location-map-api-key-value="<%=ENV['MAPBOX_API_KEY']%>">
    <%= link_to "#", data: { action: "click->location-map#showMap" } do %>
      <div class="symbol"><%= image_tag "logo/pinmap_yellow.png", alt: "pin map" %>
        <div data-location-map-target="mapContainer" style="display: none; position: fixed; top: -5px; left: 11px; width: 300px; height: 300px; z-index: 1000;">
          <button data-action="click->location-map#closeMap" class="btn btn-sm btn-danger" style="position: absolute; top: 10px; left: 10px; z-index: 1001;">Fermer</button>
        </div>
      </div>
    <% end %>
  </div>
  <div class="block-logo"> <%# Link to agenda view  %>
    <%= link_to myprofil_path(current_user) do %>
    <div class="symbol"><i class="fa-solid fa-calendar"></i></div>
    <% end %>
  </div>
  <div class="block-logo"> <%# Link to notification view  %>
    <%= link_to myprofil_path(current_user) do %>
      <div class="symbol"><i class="fa-solid fa-bell"></i></div>
     <% end %>
  </div>
  <div class="block-logo"> <%# Display the help pop-up  %>
    <div class="symbol">
      <button data-action="click->help-calls#togglePopup" aria-label="Demander de l'aide">
        🚨
      </button>
    </div>
  </div>
</div>
