<div class="fixed-under-navbar bg-secondary text-white mt-2">
 <h2>Check list Day</h2>
</div>

<h2>Bonsoir <%= "#{@user.first_name}" %></h2>
<% @activities.each do |activity| %>
    <% if activity.activity_status != "finished" %>
        <div class="card-agenda <%=activity.activity_type%>"
            data-controller="toggle-details"
              style="height:  <%= (activity.ending_date - activity.starting_date)/40%>px">
          <div class = "starting-time">
              <p><%= activity.starting_date.strftime("%H:%M")  %></p>
          </div>
          <div class="card-header">
            <div class= "activity-name"><%= activity.name %></div>
            <button data-action="click->toggle-details#display"
                    data-toggle-details-activity-id-param="<%= activity.id %>"
                    class="btn toggle-details">
              <i class="fa-solid fa-caret-down" data-toggle-details-target="caretIcon"></i>
            </button>
          </div>
          <%# the rest of the information of the activity is displayed on demand %>
          <div data-toggle-details-target="togglableElement"
              class="card-body d-none">
            <%= render "activity_details", activity: activity  %>
          </div>
        </div>
    <% end %> <%# close the condition if status not finished  %>
  <% end %>
