<!-- Navbar fixe en bas -->
 <% if user_signed_in? && request.path != "/home" && request.path != "/"%>
    <nav class="navbar navbar-bottom">
        <ul class="navbar-nav d-flex flex-row w-100">
            <%# Button to home  %>
            <li class="nav-item">
                <%= link_to home_path, class: "btn me-2 nav-link" do %>
                  <span><i class="fa-solid fa-house fs-2"></i></span>
                <% end %>
            </li>
            <%# Button to map  %>
            <li class="nav-item" data-controller="location-map" data-location-map-api-key-value="<%=ENV['MAPBOX_API_KEY']%>">
                <%= link_to "#", class: "btn me-2 nav-link", data: { action: "click->location-map#showMap" } do %>
                <span><i class="fa-solid fa-location-dot fs-2"></i></span>
              <% end %>
              <div data-location-map-target="mapContainer" style="display: none; position: fixed; top: 60px; right: 10px; width: 300px; height: 300px; z-index: 1000;">
                <button data-action="click->location-map#closeMap" class="btn btn-sm btn-danger" style="position: absolute; top: 10px; right: 10px; z-index: 1001;">Fermer</button>
              </div>
            </li>

            <li class="nav-item highlight-link">
              <span data-action="click->help-calls#togglePopup" class="help-button" aria-label="Demander de l'aide">
                🚨
              </span>
            </li>

             <%# Button to agenda  %>
            <li class="nav-item">
                <%= link_to activites_path(current_user), class: "btn me-2 nav-link" do %>
                  <span><i class="fa-solid fa-calendar fs-2"></i></span>
                <% end %>
            </li>

             <%# Button to checklist  %>
            <li class="nav-item">
              <%= link_to myprofil_path(current_user), class: "btn me-2 nav-link" do %>
                <span><i class="fa-solid fa-bell fs-2"></i></span>
              <% end %>
            </li>
        </ul>
</nav>
<% end %>
