<!-- Navbar fixe en bas -->
    <nav class="navbar navbar-bottom">
        <ul class="navbar-nav d-flex flex-row w-100">
            <%# Button to home  %>
            <li class="nav-item">
                <%= link_to home_path, class: "btn btn-outline-light me-2 nav-link" do %>
                  <span><i class="fa-solid fa-house fs-2"></i></span>
                <% end %>
            </li>
            <%# Button to map  %>
            <li class="nav-item" data-controller="location-map" data-bs-toggle="modal" data-bs-target="#location" data-location-map-api-key-value="<%=ENV['MAPBOX_API_KEY']%>">
                <%= link_to "#", class: "btn me-2 nav-link", data: { action: "click->location-map#showMap" } do %>
                <span><i class="fa-solid fa-location-dot fs-2"></i></span>
              <% end %>
                 <div class="modal fade" id="location" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <button data-action="click->location-map#closeMap" class="close-button"> <i class="fa-solid fa-xmark"></i></button>

                      <h1 class="modal-title fs-5" id="exampleModalLabel">Trajet</h1>

                      <div data-location-map-target="mapContainer" >
                        <i class="fa-solid fa-xmark" style="display: none;"></i>
                      </div>
                    </div>
                </div>
            </li>

            <li class="nav-item highlight-link">
              <span data-action="click->help-calls#togglePopup" class="help-button" aria-label="Demander de l'aide">
                🚨
              </span>
            </li>

             <%# Button to agenda  %>
            <li class="nav-item">
                <%= link_to activites_path(current_user), class: "btn btn-outline-light me-2 nav-link" do %>
                  <span><i class="fa-solid fa-calendar fs-2"></i></span>
                <% end %>
            </li>

             <%# Button to checklist  %>
            <li class="nav-item">
              <%= link_to myprofil_path(current_user), class: "btn btn-outline-light me-2 nav-link" do %>
                <span><i class="fa-solid fa-bell fs-2"></i></span>
              <% end %>
            </li>
        </ul>
</nav>
