 <% if user_signed_in? && request.path != "/home" && request.path != "/"%>
 <nav class="navbar navbar-light navbar-expand w-100 fixed-bottom"
        <%# style="background: #0f071f;"> %>
        style="background: #4A4A4A;">
        <ul class="nav nav-justified w-100" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <%# Button to home  %>
                <%= link_to home_path, class: "btn btn-outline-light me-2 nav-link2" do %>
                  <span><i class="fa-solid fa-house fs-2"></i></span>
                <% end %>
            </li>

            <%# Button to map  %>
            <li class="nav-item" role="presentation" data-controller="location-map" data-location-map-api-key-value="<%=ENV['MAPBOX_API_KEY']%>">
              <%= link_to "#", class: "btn btn-outline-light me-2 nav-link2", data: { action: "click->location-map#showMap" } do %>
                <span><i class="fa-solid fa-location-dot fs-2"></i></span>
              <% end %>
              <div data-location-map-target="mapContainer" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 300px; height: 300px; background-color: white; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.3); z-index: 1000; overflow: hidden;">
                <button data-action="click->location-map#closeMap" class="close-button" style="position: absolute; top: 10px; right: 10px; z-index: 1001; background: none; border: none; font-size: 24px; color: #333; cursor: pointer;">&times;</button>
                <i class="fa-solid fa-xmark" style="display: none;"></i>
              </div>
            </li>

             <%# Button for help  %>
            <li class="nav-item" role="presentation" >
              <p>
                 (.)(.)
              </p>
            </li>

            <%# Button to agenda  %>
            <li class="nav-item" role="presentation">
                <%= link_to activites_path(current_user), class: "btn btn-outline-light me-2 nav-link2" do %>
                  <span><i class="fa-solid fa-calendar"></i></span>
                <% end %>
            </li>

            <%# Button to checklist  %>
            <li class="nav-item" role="presentation" >
                <%= link_to myprofil_path(current_user), class: "btn btn-outline-light me-2 nav-link2" do %>
                  <span><i class="fa-solid fa-bell fs-2"></i></span>
                  <%# <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" data-checklist-target="nbr_notif"> %>
                     <!-- Nombre de notifications -->
                  <%# <span class="visually-hidden">unread notifications</span> %>
                </span>
                <% end %>
            </li>
          </ul>
</nav>
<div class="en-vrac">
  <button data-action="click->help-calls#togglePopup" class="help-button" aria-label="Demander de l'aide">
        🚨
  </button>
</div>
<% end %>
