<nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <!-- Logo et nom de l'application -->
            <%= link_to root_path, class: "navbar-brand" do %>
              <%= image_tag "logo/AutonoMe_logo.png" %>
                <p>AutonoMe</p>
            <% end %>
            <!-- Nom de la page -->
            <span class="navbar-text mx-auto">Nom de la page</span>
            <!-- Bouton Menu Burger -->

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <% if user_signed_in? %>
                <span class="navbar-toggler-icon navbar-icon-del ">
                  <%=cl_image_tag(current_user.photo.key, class: "avatar",alt: "dropdown menu", crop: :fill)%>
                   <%# <%= image_tag "avatar_user.png", class: "avatar", alt: "dropdown menu" %>
                </span>
              <% else %>
                <span class="navbar-toggler-icon"></span>
              <% end %>
            </button>
            <!-- Menu -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <% if user_signed_in? %>
                        <!-- Liens pour les utilisateurs connectés -->
                        <li class="nav-item">
                            <a class="nav-link" href="#">Paramètres</a>
                        </li>
                        <li class="nav-item">
                          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
                        </li>
                    <% else %>
                        <!-- Liens pour les utilisateurs non connectés -->
                        <li class="nav-item">
                            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                           <%= link_to "Signup", new_user_registration_path, class: "nav-link" %>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
</nav>
