<!-- Navbar fixe en bas -->
    <nav class="navbar navbar-bottom">
        <ul class="navbar-nav d-flex flex-row w-100">
            <%# Button to home  %>
            <li class="nav-item">
                <%= link_to home_path, class: "btn btn-outline-light me-2 nav-link" do %>
                  <span><i class="fa-solid fa-house fs-2"></i></span>
                <% end %>
            </li>
            <%# Button to map  %>
            <li class="nav-item" data-controller="location-map" data-location-map-api-key-value="<%=ENV['MAPBOX_API_KEY']%>">
                <%= link_to "#", class: "btn btn-outline-light me-2 nav-link", data: { action: "click->location-map#showMap" } do %>
                <span><i class="fa-solid fa-location-dot fs-2"></i></span>
              <% end %>
              <div data-location-map-target="mapContainer" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 300px; height: 300px; background-color: white; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.3); z-index: 1000; overflow: hidden;">
                <button data-action="click->location-map#closeMap" class="close-button" style="position: absolute; top: 10px; right: 10px; z-index: 1001; background: none; border: none; font-size: 24px; color: #333; cursor: pointer;">&times;</button>
                <i class="fa-solid fa-xmark" style="display: none;"></i>
              </div>
            </li>

            <li class="nav-item highlight-link">
              <span data-action="click->help-calls#togglePopup" class="help-button" aria-label="Demander de l'aide">
                🚨
              </span>
            </li>

             <%# Button to agenda  %>
            <li class="nav-item">
                <%= link_to activites_path(current_user), class: "btn btn-outline-light me-2 nav-link" do %>
                  <span><i class="fa-solid fa-calendar fs-2"></i></span>
                <% end %>
            </li>

             <%# Button to checklist  %>
            <li class="nav-item">
              <%= link_to myprofil_path(current_user), class: "btn btn-outline-light me-2 nav-link" do %>
                <span><i class="fa-solid fa-bell fs-2"></i></span>
              <% end %>
            </li>
        </ul>
</nav>
