<div class="margin-from-navbar"></div>
<div class="a-dallas" data-controller="update-activity-button">
  <%# first card is fixed, it is the activity in progress if there is any%>
  <% if @current_activity %>
      <div class="card-agenda in-progress <%=@current_activity.activity_type%>"
          data-controller="toggle-details"
          style="height:  <%= (@current_activity.ending_date - @current_activity.starting_date)/40%>px">
          <div class = "starting-time"></div> <%# space kept for loading bar, no time value displayed %>
          <div class="card-header">
            <div class= "activity-name"><%= @current_activity.name %></div>
              <button data-action="click->toggle-details#display"
                      data-toggle-details-activity-id-param="<%= @current_activity.id %>"
                      class="btn toggle-details">
                <i class="fa-solid fa-caret-down" data-toggle-details-target="caretIcon"></i>
              </button>
          </div>
          <%# the rest of the information of the activity is displayed on demand %>
            <div data-toggle-details-target="togglableElement"
                class="card-body d-none">
              <%= render "activity_card_details", activity: @current_activity  %>
            </div>
      </div>
  <% end %>
  <%# displays all the cards of activities  %>
  <%# note that the first one is the activity in progress, displayed behind the previous one fixed %>
  <% du_plombier = [] %>
  <% @activities.each do |activity| %>
    <% duration = activity.ending_date - activity.starting_date %>
    <% if activity.activity_status != "finished" %>
      <%# Checks if there was an activity created previously  %>
      <% if du_plombier.any? %>
        <% last_activity_ending = du_plombier.pop %>
        <% freetime = activity.starting_date - last_activity_ending %>
        <%# create an empty space proportional to time with nothing planned with minimum 4px %>
        <div style="height: <%= (freetime/40 < 4) ? 4 : (freetime/40) %>px"></div>
      <% end %>
      <div class="card-agenda <%=activity.activity_type%>"
          data-controller="toggle-details"
            style="height:  <%= duration/40 %>px">
        <div class = "starting-time">
            <p><%= activity.starting_date.strftime("%H:%M")  %></p>
        </div>
        <div class="card-header">
          <div class= "activity-name"><%= activity.name %></div>
          <button data-action="click->toggle-details#display"
                  data-toggle-details-activity-id-param="<%= activity.id %>"
                  class="btn toggle-details">
            <i class="fa-solid fa-caret-down" data-toggle-details-target="caretIcon"></i>
          </button>
        </div>
        <%# the rest of the information of the activity is displayed on demand %>
        <div data-toggle-details-target="togglableElement"
            class="card-body d-none">
          <%= render "activity_card_details", activity: activity  %>
        </div>
      </div>
      <%# keep the ending date of this activity to compare with the next one %>
      <% du_plombier << activity.ending_date %>
    <% end %> <%# close the condition if status not finished  %>
  <% end %> <%# Close the each loop %>
  </div>
</div>
