<div class="margin-from-navbar"></div>
<div class = "card-agenda in-progress">
  <div class="card-body <%=@active_activity.activity_type%>"
      style="height:  <%= (@active_activity.ending_date - @active_activity.starting_date)/40%>px">
      <%= @active_activity.name %>
  </div>
</div>
  <% @activities.each_with_index do |activity, index| %>
      <div class = "card-agenda list-activities">
        <div class = "starting-time">
            <p><%= activity.starting_date.strftime("%H:%M")  %></p>
        </div>
        <div class="card-body <%=activity.activity_type%>"
              style="height:  <%= (activity.ending_date - activity.starting_date)/40%>px">
          <%= activity.name %>
        </div>
      </div>
      <div class = "card-agenda in-progress">
        <div class="card-body <%=@active_activity.activity_type%>"
            style="height:  <%= (@active_activity.ending_date - @active_activity.starting_date)/40%>px">
            <%= @active_activity.name %>
        </div>
      </div>
  <% end %>
</div>
