<div class="margin-from-navbar"></div>
<div data-controller="update-activity-button">
  <%# first card is fixed, it is the activity in progress if there is any%>
  <% if @current_activity %>
    <div class = "card-agenda in-progress">
      <div class="card-body <%=@current_activity.activity_type%>"
          style="height:  <%= (@current_activity.ending_date - @current_activity.starting_date)/40%>px">
          <%= @current_activity.name %>
          <%= @current_activity.activity_status %>
          <button class="btn btn-primary btn-lg"
                      data-action="click->update-activity-button#finish"
                      data-activity-id="<%= @current_activity.id %>">
                      Finish this activity
              </button>
      </div>
    </div>
  <% end %>
  <%# displays all the cards of activities  %>
  <%# note that the first one is the activity in progress, displayed behind the previous one fixed %>
    <% @activities.each do |activity| %>
        <div class = "card-agenda list-activities">
          <div class = "starting-time">
              <p><%= activity.starting_date.strftime("%H:%M")  %></p>
          </div>
          <div class="card-body <%=activity.activity_type%>"
                style="height:  <%= (activity.ending_date - activity.starting_date)/40%>px">
            <%= activity.name %>
            <%= activity.activity_status %>
            <% if activity == @next_activity && @current_activity.nil? %>
              <button class="btn btn-primary btn-lg"
                      data-action="click->update-activity-button#start"
                      data-activity-id="<%= activity.id %>">
                      Start this activity
              </button>
              <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
