<h1>Mes Activités</h1>
<ul class="list-unstyled mt-5 position-relative">
  <% @activities.each_with_index do |activity, index| %>
    <li class=<%="active" if index == 0%>>
      <div class = "card-agenda">
          <div class = "starting-time">
            <% if index >0 %>
              <p><%= activity.starting_date.strftime("%H:%M")  %></p>
              <% else %>
                <div class= "loading"></div>
            <% end %>
          </div>
          <div class="card-body <%=activity.activity_type%>"
                style="height:  <%= (activity.ending_date - activity.starting_date)/40%>px">
            <%= activity.name %>
          </div>
      </div>
    </li>
  <% end %>
</ul>
